body {
    margin: 0;
    
}
table{
    border-spacing: 0;
}
td {
    padding: 0;
}
img {
    border: 0;
}
.blue {
    color: #117ACA ;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    padding-bottom: 60px;
    background-color:#117ACA ;
}
.main {
    width: 100%;
    max-width: 600px;
    background-color:#ffffff ;
    font-family: sans-serif;
    color: #4a4a4a;
    border-radius: 25px;
    box-shadow: 0 0 50px rgb(255, 255, 255);
    padding-bottom: 25px;
}
.topborder {
    background-color: #000000
}
.two-columns {
    width: 100%;
    display: flex;
    border-bottom: 20px solid #117ACA;
}
.two-columns .column {
    width: 100%;
    max-width:200px;
}
.two-columns .column2 details {
    text-align: center;
    display:flex;
}
.details a{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    color:#117ACA;
    padding: 16px;
}
.title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    padding: 1%;
}
.title span {
    color: rgb(40, 212, 40);
    font-size: 45px;
    letter-spacing: 2px;
}
.breakdowns {
    border: 1px solid #117ACA;
    text-align: center;
    padding: 0px 50px 0px 50px;
    background-color: #117ACA;
    color: white;
}
.breakdowns table {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 3px solid rgb(126, 218, 241);
}
.breakdowns .breakdown {
    display: flex;
    font-size: 15px;
    text-align: center;
    padding:10px 50px;
    justify-content: center;
}
.breakdowns .breakdown h3 {
    padding: 20px 40px 0px 30px;
    border-radius: 25px;
    font-family: 'Nunito', sans-serif;
}
.breakdowns .breakdown a .icon {
    padding-top: 15px;
    padding-left: 90px;
}
.account {
    text-align: center;
    background-color: #117ACA;
    color: white;
    padding:20px 50px;
}
.account table{
    background-color: white;
    padding-bottom: 20px;
    color: black;
    border-radius: 25px;
    font-family: 'Nunito', sans-serif;
    border: 3px solid rgb(126, 218, 241);
}
.adetails a {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #117ACA;
    border-radius: 25px;
    padding:8px;
    color: #117ACA;
    font-weight: bold;
}

.title2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    padding: 1%;
}
.title2 span {
    color: rgb(40, 212, 40);
    font-size: 45px;
    letter-spacing: 2px;
}
.footer{
    width: 100%;
}
.footer table {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(190, 189, 189);
    text-align: center;
    padding: 20px 60px 0px 60px;
    font-size: 13px;
}
.botborder {
    background-color: #000000
}